html, body{
  height: 100%;
}
body{
  @extend %DMSans-Regular-400;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  &-box{
    max-width: 1200px;
    margin: 0 auto;
  }
}

.hidden{
  display: none;
}

.title{
  font-size: 36px;
  @extend %DMSans-Bold-700;
  color: #191919;
  text-align: center;
  margin-bottom: 35px;
}

.filters__title{
    color: $title;
    font-size: 18px;
    text-transform: uppercase;
    @extend %DMSans-Bold-700;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: '';
      border-bottom: 1px solid $btn;
      position: absolute;
      width: 38px;
      top: 50%;
      left: 112px;
    }
}
