.icon {
  &__cart {
    width: 19px;
    height: 16px;
    fill: #243f4d;
  }

  &__heart {
    width: 18px;
    height: 16px;
    fill: #243f4d;
  }

  &__loupe {
    width: 15px;
    height: 15px;
    fill: #243f4d;
  }

  &__dots{
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  &__arrow-right{
    width: 22px;
    height: 9px;
    fill: #fff;
  }
}
