.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn{
    margin-right: 20px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8 ;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: #edf1f4;
    }
  }
  &__links{
    display: flex;
    align-items: center;
    margin-right: 25px;
    background-color: #fcd7b6;
    border-radius: 25px;
    padding: 10px 10px 10px;
  }
  &__link{
    padding: 8px 30px 3px;
    position: relative;
    &:not(:last-child){
      border-right: 1px solid #fff;
    }
  }
  &__link-num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 20px;
    font-size: 10px ;
    @extend %DMSans-Regular-400;
    color: rgb(36, 63, 77);
    line-height: 16px;
    text-align: center;
  }
}



@media (max-width: 1000px){
  .user-nav{
    margin-left: auto;
  }
}
@media (max-width: 600px){
  .user-nav{
    width: 100%;
    justify-content: flex-end;
    margin-top: 35px;
    &__btn{
      &:last-child{
      margin-right: 0;
      }
    }
  }
}
@media (max-width: 360px){
  .user-nav{
    &__links{
      margin-right: 5px;
    }
    &__btn{
      &:first-child{
        margin-right: 5px;
      }
    }
  }
}